.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  /* Automatic column sizing */
  gap: 20px;  /* Space between images */
  justify-items: center;  /* Center images within grid cells */
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

.resize-big-img-300 {
  width: 300px;
  height: auto;
}
